ul.social-network{
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 35pt;
  color: white;
  padding: 10px;
}

.fa-github:hover{
  color: #00081a;
}

.fa-linkedin-square:hover{
  color: #003d5e;
}

.fa-instagram:hover{
  color: #3e0044;
}

.fs-10{
  font-size: 10pt;
}
